extends layout

block content
  .Closepanel.container-fluid#CloseMenu(onclick="Closemypanel()").hide
  #HiddenPanel.hidden-panel.hide
      span.hidden-panel-close(data-js='hidden-panel-close') Close
      .hidden-panel-content
        nav.hidden-panel-nav
          h3(style='text-align: left;')
            | NAVIGATION.
          label#switch.switch
            input#slider.stt(type='checkbox' onchange='toggleTheme()')
            span.slider.round
          ul.mt-2
            li.row
              .col-1.pt-5.mb-4
                i.lni.lni-home.force-display.main-home-btn
              .col-10.text-left.pt-5.mb-4
                a(onclick="dashboard()") dashboard  
              .col-1.mb-4.pt-4
                i.lni.lni-bolt.force-display.main-home-btn
              .col-10.text-left.mb-4.pt-4
                a(onclick="control()") Devices 
              .col-1.mb-4.pt-4
                i.lni.lni-user.force-display.main-home-btn
              .col-10.text-left.mb-4.pt-4
                a(onclick="profile()") Profile
              .col-1.mb-4.pt-4
                i.lni.lni-cog.force-display.main-home-btn
              .col-10.text-left.mb-4.pt-4
                a(onclick="setting()") Settings 
              .col-1.mb-4.pt-4
                i.lni.lni-exit
              .col-10.text-left.mb-4.pt-4
                a(href='/logout') logout                           
         
  main.container-fluid.p-lg-5.p-xl-5
    .app-container.container-fluid.p-0
      .row.main-header
        .profile-img.col-2.d-lg-flex.d-xl-flex.justify-content-center
          .profile-img-contn
            img(src="images/user.png", alt="User Image" loading="lazy" onclick="profile()")
            span.notification-dot
              i.lni.lni-dot
        .void.col-8          
          .container-fluid
            .date
            .clock
        .menu-btn.col-2.text-right#MenuIcon
          button(type="button" data-js='menu-toggle').hamburger.hamburger--minus.menu-toggle
            span.hamburger-box
              span.hamburger-inner
      .welcome-text.container-fluid.pl-0.pr-0.pt-4.dashboard
        span.thick.username.sub-welcome-text 
        span.thick.username #{username},
        .sub-sub-welcome-text
    .app-container.container-fluid.p-0.control.hide
      .pt-4
        h4.username #{username} these are your devices
    .app-container.p-0.profile.hide.p-4
      button(onclick="dashboard()").go-back-btn.p-0.pb-3
        i.lni.lni-arrow-left
      h4.page-headline My Profile
      p You are the main user.
      .main-profile.pt-3
        .row
          .col-4.profile-sq-image.pt-3.pb-3.pr-0.mr-0
            .sq-image
              img(src="images/user.png", alt="")
          .col-4.user-details.pt-3
            p.username.profile-username #{username}
            p.user-id User ID:
            a(href="#" class="red") Remove
          .col-4.user-stat
            label#switchPro.switchPro
              input#sliderPro.stt(type='checkbox')
              span.sliderPro.roundPro
        .bt-hr.pb-2
          hr        
        form(action="#" method="post").profile-form.pb-5.p-2
          label(for="Name").container-fluid Name
            input.container-fluid.mt-3.mb-3.p-2(type="text" name="Name" value=username disabled)
          label(for="Phone").container-fluid Phone
            input.container-fluid.mt-3.mb-3.p-2(type="text" name="Phone" value=phone disabled)
          label(for="Email").container-fluid Email
            input.container-fluid.mt-3.mb-3.p-2(type="text" name="Email" value=email disabled)
          .text-center.container-fluid.pt-4
            button(type="submit") Edit
              i.lni.lni-pen
    .app-container.container-fluid.p-0.settings.hide
      .pt-4
        h4.username #{username} this is your setting page
  include footer
        
    
       
        
      
    